/* _____ VARIABLES _____ */

// Fonts
// ==========================================================================

$font-open-sans            : 'Open Sans', sans-serif;

// Color sets
// ==========================================================================

$color-blue-primary        : #1279bf;
$color-blue-secondary      : #0585de;
$color-blue-tertiary       : #3799de;

$color-blue-dark-primary   : #313440;
$color-blue-dark-secondary : #136ea2;

$color-gray-primary        : #eff4f7;

$color-gray-light-primary  : #dae0e6;
$color-gray-light-secondary: #bebebe;
$color-gray-light-tertiary : #d2d6d9;

$color-gray-dark-primary   : #646666;
$color-gray-dark-secondary : #555555;
$color-gray-dark-tertiary  : #4a4c4c;

// Color variables for common elements
// ==========================================================================

$background-primary        : $color-blue-primary;
$background-secondary      : $color-gray-primary;
$background-tertiary       : #fff;

$header-primary            : $color-blue-secondary;
$header-secondary          : $color-blue-dark-secondary;

$text-primary              : $color-blue-dark-primary;
$text-secondary            : $color-gray-dark-primary;
$text-tertiary             : $color-gray-dark-tertiary;

$link-primary              : $color-blue-primary;
$link-secondary            : #fff;

$label-primary             : $color-gray-dark-secondary;

$border-primary            : $color-gray-light-primary;
$border-secondary          : $color-gray-light-tertiary;
$border-hover              : $color-blue-secondary;

$input-primary             : $color-gray-dark-secondary;

// Box shadows
// ==========================================================================

$box-shadow-default        : 0 .3rem .7rem 0 rgba(0, 0, 0, 0.35);
$box-shadow-secondary      : 0 .2rem .3rem 0 rgba(138, 143, 161, 0.13);
$box-shadow-hover          : 0 .2rem .8rem 0 rgba(5, 133, 222, 0.4);

// Dimensions
// ==========================================================================

// Z-indexes
// ==========================================================================

$z-index-top               : 500;

// Transitions
// ==========================================================================

$transition-default        : all 300ms ease-in-out;

// Media queries breakpoints
// ==========================================================================

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs                 : 480px;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm                 : 768px;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md                 : 992px;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg                 : 1200px;
