@import './1-tools/variables';

/* _____ FILTER _____ */

// Component variables
$m-filter-margin: 0 0 5rem;

$m-filter__options-padding: 3rem;
$m-filter__options-border-color: $color-blue-tertiary;
$m-filter__options-background: #fff;
$m-filter__options-background-active: $color-blue-tertiary;

$m-filter__options-group-padding: 1rem;
$m-filter__options-group-background: #fff;

$m-filter__checkbox-item-margin: 1rem 0 0;

.m-filter {
    margin: $m-filter-margin;

    &__list {
        list-style-type: none;
        @include flex-container(center, flex-start, row, wrap);
    }

    &__item {
        margin-left: .3rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-left: auto;
        }
    }

    &__options {
        padding   : $m-filter__options-padding;
        border    : .1rem solid $m-filter__options-border-color;
        background: $m-filter__options-background;

        &--is-active {
            background: $m-filter__options-background-active;
        }
    }

    &__options-group {
        padding   : $m-filter__options-group-padding;
        background: $m-filter__options-group-background;
    }

    &__checkbox-item {
        margin: $m-filter__checkbox-item-margin;

        &:first-child {
            margin: 0;
        }
    }
}
