@import './1-tools/variables';

/* _____ NAVIGATION _____ */

// Component variables
$m-navigation__item--has-margin-left-margin-left: 1.6rem;

.m-navigation {
    &__list {
        list-style-type: none;
        @include flex-container(center, center, row, nowrap);
    }

    &__item {
        &--has-margin-left {
            margin-left: $m-navigation__item--has-margin-left-margin-left;
        }
    }
}
