@import './1-tools/variables';

/* _____ HEADER _____ */

// Component variables
$header--background: $background-primary; // #1279bf
$header--box-shadow: $box-shadow-default; // 0 .3rem .7rem 0 rgba(0, 0, 0, 0.35)
$header--height: 11rem;
$header--position : fixed;
$header--left : 0;
$header--right : 0;
$header--top : 0;
$header--z-index : $z-index-top;
// @include flex-container();

.o-header {
}
