@import './1-tools/variables';

/* _____ HEADER _____ */

// Component variables
$header-background: $background-primary;
$header-box-shadow: $box-shadow-default;
$header-height: 11rem;

.o-header {
    background: $header-background;
    box-shadow: $header-box-shadow;
    position  : fixed;
    left      : 0;
    right     : 0;
    top       : 0;
    height    : $header-height;
    z-index   : $z-index-top;
    @include flex-container();
}
