@import './1-tools/variables';
@import './1-tools/mixins';

/* _____ LINKS _____ */

// Component variables
$a-link-transition: all 300ms ease-in-out;
$a-link--primary--color: #1279bf;
//&:active, &:hover, &:focus,
$a-link--primary--color-hover: #fff;
$a-link--primary--background-hover: #1279bf;
$a-link--primary--text-decoration: none;

.a-link {
}
