@import './1-tools/variables';

/* _____ PARAGRAPH _____ */

// Component variables
$a-notification-min-height: 5rem;
$a-notification-line-height: 2.5rem;
$a-notification-font-size: 1.8rem;
$a-notification-font-weight: 400;
$a-notification-padding: 1rem 2rem;
$a-notification-margin: 2rem 0 0;

$a-notification--alert-text-color: #fff;
$a-notification--alert-background: $color-red-primary;

$a-notification--success-text-color: #fff;
$a-notification--success-background: $color-green-primary;

.a-notification {
    min-height : $a-notification-min-height;
    line-height: $a-notification-line-height;
    padding    : $a-notification-padding;
    margin     : $a-notification-margin;
    font       : {
        size  : $a-notification-font-size;
        weight: $a-notification-font-weight;
    }

    &--alert {
        color     : $a-notification--alert-text-color;
        background: $a-notification--alert-background;
    }

    &--success {
        color     : $a-notification--success-text-color;
        background: $a-notification--success-background;
    }
}
